/* Base & Universal Styles */
html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.btn-primary {
  width: 11.4rem;
  background-color: #399bd1;
  padding: 1.3rem 2rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
  background-color: #399bd1;
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  background-color: #399bd1;
}

.image-container img {
  opacity: 0.7;
  transition: all .5s ease-in-out;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
}

.image-container, img {
  overflow: hidden;
}

.slick-slide {
  outline: none;
}



/* Navigation Styles */

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar-default .navbar-nav a {
  color: #818181;
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar-default .navbar-nav a:hover {
  color: #585858;
}

/* Jumbotron Styles */

.jumbotron {
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
  margin-bottom: 5rem;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.jumbotron-flowers {
  background-image: url("../images/jumbotron-flowers.jpg");
}

.jumbotron-beer {
  background-image: url("../images/jumbotron-beer.jpg");
}

.jumbotron-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
}

.jumbotron h1 {
  font-family: Monoton;
  font-size: 7.1rem;
  color: white;
  text-shadow: -1 -1 0 #000, 1 -1 0 #000, -1 1 0 #000, 1 1 0 #000;
}

.jumbotron p {
  color: white;
  max-width: 51.3rem;
  margin: 0 auto 2.7rem auto;
  font-size: 1.6rem;
}

/* Featured Section Styles */
.list {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

.list p {
  margin: 2px;
}

.featured-title {
  margin-bottom: 20px;
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

.proj-title {
  font-size: 1.3rem;
  font-weight: bold;
}

#cat-title {
  color: #399bd1;
  font-size: 1.3rem;
  font-weight: bold;
}

.col-sm-6 {
  padding-top: 47px;
}

.featured-section {
  margin-bottom: 5rem;
}

.featured-section h2 {
  padding-top: 2rem;
}

/* Projects Section */
.project {
  padding-top: 47px;
}

.projects-section {
  margin-bottom: 5.2rem;
}

.project-info {
  padding-top: 2rem;
}

/* Footer */

.footer {
  background-color: #f3f3f3;
  padding: 5.2rem 0px;
  margin-right: auto;
  margin-left: auto;
}

.footer h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.footer p {
  margin: 0 auto 3rem auto;
  max-width: 42rem;
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  .navbar-nav li {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 769px) {
  .jumbotron h1 {
    font-size: 4.9rem;
  }

  .jumbotron p {
    font-size: 1.2rem;
  }

  .btn-primary {
    padding: 0.75rem 1.25rem;
  }
}